.sub_menu 
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
line-height:32px;
border-bottom:1px dotted #93bcc3;
list-style-type:none;
text-align: center;
}

.sub_menu div
{
text-decoration:none;
color:#FFFFFF;
margin-top:2px;
}

.sub_menu div .selected
{
background: :url(../images/menu_selected.png) no-repeat;
float:left;
}

.sub_menu div:hover
{
background:url(../images/menu_selected.png) no-repeat;
float:left;
display:inline-block;
text-align: left;
}
.sub_menu div h2{
	color:#FFFFFF;
}